.besides {
  height: 100%;
  z-index: 1;
}
.besides__flex {
  display: flex;
  flex-direction: column;

  .title {
    margin: 0;
    width: 50%;

    span:nth-of-type(2) {
      margin-left: 20%;
    }
  }
  p {
    width: 50%;
    margin-left: auto;
    padding-right: 15%;
    @include text;
    font-size: 18px;
  }
}
.besides__pastime {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(7, 1fr);
  grid-column-gap: 30px;

  li {
    position: relative;
  }
  li:nth-of-type(1) {
    grid-row: 1 / 5;
    grid-column-start: 1;
  }
  li:nth-of-type(2) {
    // top: 40%;
    grid-row: 2 / 6;
    grid-column-start: 2;
  }
  li:nth-of-type(3) {
    // top: 80%;
    grid-row: 3 / 7;
    grid-column-start: 3;
  }
  li:nth-of-type(4) {
    // top: 120%;
    grid-row: 4 / 8;
    grid-column-start: 4;
  }
  img {
    margin-bottom: 3em;
    width: 100%;
  }
  b {
    display: inline-block;
    margin-bottom: 18px;
    font-family: $druk;
    font-size: 24px;
    font-weight: bold;
    line-height: 140%;
    text-transform: uppercase;
  }
  p {
    margin: 0;
    @include text;
    font-size: 18px;
  }
}
