{
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "test": "./test",
          "underscore": "lodash",
          "components": "./src/components",
          "^generic/([\\w_]+)": "./src/components/generic/\\1/\\1"
        }
      }
    ]
  ]
}
