.ymaps-2-1-78-ground-pane {
  filter: hue-rotate(260deg) grayscale(1) invert(100%);
  -ms-filter: hue-rotate(260deg) grayscale(1) invert(100%);
  -webkit-filter: hue-rotate(260deg) grayscale(1) invert(100%);
  -moz-filter: hue-rotate(260deg) grayscale(1) invert(100%);
  -o-filter: hue-rotate(260deg) grayscale(1) invert(100%);
}
.ymaps-2-1-78-copyrights-pane {
  display: none;
}
