.ReactModal__Overlay {
  background-color: rgba(0, 0, 0, 0.5) !important;
  z-index: 99999;
}
.modal {
  position: absolute;
  padding: 80px 100px;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  border-radius: 30px;
  border: none;
  background-color: #131718;
  z-index: 999999;

  .title {
    width: 50%;
  }
  & > .flex {
    width: 100%;
    box-sizing: border-box;
  }
}
.modal__text {
  width: 50%;

  span {
    color: $orange;
  }
}
.form > .flex {
  & > div,
  & > textarea {
    width: 50%;
  }
}
.modal__close {
  position: absolute;
  top: -20px;
  right: -20px;
  font-size: 0;
  cursor: pointer;

  &::after,
  &::before {
    position: absolute;
    content: '';
    width: 35px;
    height: 2px;
    background-color: #fff;
  }
  &::after {
    transform: rotate(45deg);
  }
  &::before {
    transform: rotate(-45deg);
  }
}
