// ==== Шрифты ====
@font-face {
  font-family: 'Druk Wide Medium';
  font-style: normal;
  font-weight: normal;
  src: local('Druk Wide Medium'),
    url('./assets/fonts/Druk Wide Medium.otf') format('otf');
}
@font-face {
  font-family: 'Formular-Medium';
  font-style: normal;
  font-weight: normal;
  src: local(''), url('./assets/fonts/Formular-Medium.otf') format('otf');
}
@font-face {
  font-family: 'Formular-Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Formular-Regular.ttf'),
    url('./assets/fonts/Formular-Regular.ttf') format('ttf');
}

// ==== Переменные ====
$druk: 'Druk Wide Medium';
$formular-m: 'Formular-Medium';
$formular-r: 'Formular-Regular';

$orange: #f15c22;

// ==== Глобальные стили ====

body {
  background-color: #131719;

  * {
    color: #fff;
  }
}
a {
  text-decoration: none;
}
