.reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.reviews__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 5em;
}
.review {
  display: flex;
  gap: 3em;
  margin-bottom: 3em;

  p {
    @include text;
    font-size: 14px;
    opacity: 0.5;
  }
}
.review__author {
  font-family: $formular-m;
  font-size: 20px;
  line-height: 120%;
  color: #f2f2f2;
}

@media (max-width: 1600px) {
  .reviews__list {
    margin-bottom: 2em;
  }
  .review {
    gap: 2em;
  }
  .review__photo {
    max-width: 120px;
    max-height: 120px;
  }
}
@media (max-width: 1366px) {
  .review__photo {
    max-width: 110px;
    max-height: 110px;
  }
  .review__author {
    font-size: 18px;
  }
}
@media (max-width: 1280px) {
  .reviews__list {
    grid-column-gap: 20px;
  }
}
@media (max-width: 1024px) {
  .reviews__list {
    display: block;
  }
  .review__author {
    font-size: 16px;
  }
}
@media (max-width: 500px) {
  .review {
    gap: 15px;

    p {
      line-height: 140%;
    }
  }
  .review__grade svg {
    width: 15px;
    height: 15px;
  }
  .review__photo {
    width: 70px;
    height: 70px;
  }
  .review__author {
    display: inline-block;
    margin-bottom: 10px;
    font-size: 14px;
  }
  .reviews__list {
    margin-bottom: 0;
  }
}
