.record-button {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 0;
  width: fit-content;
  cursor: pointer;

  & * {
    transition: ease 0.15s;
  }
  &:hover * {
    color: #fff;
    fill: #fff;
  }
  span {
    @include text;
    font-family: $druk;
    text-transform: uppercase;
    color: $orange;
  }
}
