.founder {
  video {
    width: 100%;
  }
}
.founder__wrapper {
  padding-right: 0;
}
.founder__name {
  display: block;
  font-family: $formular-m;
  font-size: 22px;
  line-height: 120%;
  color: #f2f2f2;
}
.founder__post {
  display: block;
  margin-bottom: 20px;
  font-family: $formular-m;
  font-size: 18px;
  line-height: 120%;
  color: $orange;
}
.founder__description p {
  @include text;
  text-align: justify;
  column-count: 2;
  column-gap: 2em;
  color: #f2f2f2;
}

@media (max-width: 1366px) {
  .founder__description {
  }
}
