// ==== Глобальные стили ====
body {
  background-color: $d-gray;
  overflow-x: hidden;

  * {
    font-family: $formular-r;
    box-sizing: border-box;
    color: #fff;
  }
}
// html {
//   scroll-behavior: smooth;
// }
section {
  position: relative;
  z-index: 1;
}
img {
  max-width: 100%;
  height: auto;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
button {
  border: none;
  background-color: transparent;
}
p {
  margin: 0;
}

// ==== Общие классы ====
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.title {
  margin: 0;
  margin-bottom: 45px;
  font-family: $druk;
  font-size: 44px;
  line-height: 100%;
  text-transform: uppercase;

  span {
    display: block;
  }
}
.subtitle {
  margin: 0;
  font-family: $druk;
  font-size: 26px;
  line-height: 140%;
  text-transform: uppercase;
}
.wrapper {
  padding: 160px 260px;
}
.pl {
  padding-left: 260px;
}
.pr {
  padding-right: 260px;
}
.slick-track {
  display: grid;
  grid-auto-columns: auto;
  grid-auto-flow: column;

  .slick-slide > div,
  .slick-slide > div > div {
    height: 100% !important;
  }
}
.flex {
  display: flex;

  * {
    margin: 0;
  }
}
.row {
  flex-direction: row;
}
.column {
  flex-direction: column;
}
.space-between {
  justify-content: space-between;
}
.align-center {
  align-items: center;
}
.mb1 {
  margin-bottom: 1em;
}
.mb2 {
  margin-bottom: 2em;
}
.mb3 {
  margin-bottom: 3em;
}
.mb4 {
  margin-bottom: 4em;
}
.mb5 {
  margin-bottom: 5em;
}
.gap1 {
  gap: 1em;
}
.gap2 {
  gap: 2em;
}
.gap3 {
  gap: 3em;
}
.gap4 {
  gap: 4em;
}
.gap5 {
  gap: 5em;
}
