// ==== Переменные ====
$druk: 'Druk Wide Medium', sans-serif;
$formular-m: 'Formular-Medium', sans-serif;
$formular-r: 'Formular-Regular', sans-serif;

$orange: #f15c22;
$gray: #2a2e30;
$d-gray: #131719;
