@import './fonts.scss';
@import './variables.scss';
@import './mixins.scss';
@import './globals.scss';

// ==== Библиотеки ====
@import '~normalize.css/normalize.css';
@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';
@import '~react-modal-video/scss/modal-video.scss';

// ==== Общие компоненты ====
@import '@generic/Button/Button.scss';
@import '@generic/Video/Video.scss';
@import '@generic/SliderArrow/SliderArrow.scss';
@import '@generic/CustomSlider/CustomSlider.scss';
@import '@generic/DoubleSlider/DoubleSlider.scss';

// ==== Компоненты ====
@import '@components/Header/Header.scss';
@import '@components/Promo/Promo.scss';
@import '@components/Record/Record.scss';
@import '@components/Features/Features.scss';
@import '@components/Founder/Founder.scss';
@import '@components/Why/Why.scss';
@import '@components/Worker/Worker.scss';
@import '@components/Athlete/Athlete.scss';
@import '@components/Schedule/Schedule.scss';
@import '@components/Location/Location.scss';
@import '@components/Reviews/Reviews.scss';
@import '@components/RedyarHome/RedyarHome.scss';
@import '@components/Footer/Footer.scss';
@import '@components/Merch/Merch.scss';
@import '@components/Competition/Competition.scss';
@import '@components/About/About.scss';
