.record__form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 40%;

  // label {
  //   @include text;
  //   padding: 13px 27px;
  //   border: 1px solid rgba(255, 255, 255, 0.2);
  //   border-radius: 40px;

  //   span {
  //     margin-right: 2em;
  //   }
  // }
  // input {
  //   background-color: transparent;
  //   border: none;
  // }
  // input:focus,
  // input:active {
  //   outline: none;
  // }
}
