.workers--dust {
  // z-index: 0;

  &::before {
    position: absolute;
    content: '';
    top: 50%;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../../assets/img/dust-2.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 0;
    z-index: -1;
  }
}
