.athlete {
  margin: 0 12px;
}
.athlete__photo {
  margin-bottom: 20px;
  width: 100%;
  height: 100%;
  // max-width: 370px;
  max-height: 400px;
  object-fit: cover;
  object-position: 0 0;
}
.athlete__name {
  display: block;
  margin-bottom: 13px;
  font-family: $formular-m;
  font-size: 20px;
  line-height: 120%;
  color: #f2f2f2;
}
.athlete__achievements {
  font-family: $formular-r;
  font-size: 14px;
  line-height: 150%;
  opacity: 0.5;
}
