.header {
  position: absolute;
  top: 0;
  padding: 50px 60px 50px 35%;
  width: 100%;
  z-index: 9999;

  div {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & > *:not(:last-child) {
      margin-right: 5%;
    }
  }
}
.header__logo {
  position: absolute;
  left: 50px;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  width: 50%;

  a {
    font-family: $formular-r;
    @include text;
    line-height: 100%;
    transition: ease 0.15s;
  }
  a:hover {
    color: $orange;
  }
}
.header__phone {
  display: inline-block;
  @include text;
  line-height: 100%;
  white-space: nowrap;
  color: $orange;
}
.header__menu-button {
  padding: 0;
  position: relative;
  width: 100px;
  @include text;
  line-height: 100%;
  text-align: left;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &::before,
  &::after {
    position: absolute;
    content: '';
    right: 0;
    width: 30px;
    height: 2px;
    background-color: #fff;
  }
  &::before {
    top: 0;
  }
  &::after {
    bottom: 0;
  }
}

@media (max-width: 1280px) {
  .header {
    padding-left: 25%;
  }
  .header__logo {
    width: 70px;
  }
  .header__menu-button {
    width: 90px;
  }
}
@media (max-width: 768px) {
  .header__nav,
  .header__phone {
    display: none;
  }
  .header__menu-button {
    margin-left: auto;
  }
}
@media (max-width: 500px) {
  .header {
    padding: 15px 20px;
  }
  .header__logo {
    width: 54px;
    left: 20px;
  }
}
