.slider {
  &::before {
    position: absolute;
    content: '';
    top: 50%;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../../assets/img/dust-4.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 0;
    z-index: -1;
  }
}
.slider__wrapper {
  padding-bottom: 0;
}
.slider__component {
  margin-bottom: 165px;
  width: 110%;

  & > div > div {
    height: 100%;
  }
}
