.worker {
  display: flex;
  height: 100%;
  padding: 45px;
  margin: 0 12px;

  padding-left: 0;
  background-color: #2a2e30;

  & > div {
    width: 100%;
    height: 100%;
  }
}
.worker__photo {
  flex-shrink: 0;
  width: 60%;
  max-height: 350px;
  height: 100%;
  object-fit: cover;
  object-position: top;
}
.worker__name {
  display: block;
  margin-bottom: 5px;
  font-family: $formular-m;
  font-size: 20px;
  line-height: 24px;
  color: #f2f2f2;
}
.worker__post {
  font-family: $formular-r;
  font-size: 14px;
  line-height: 17px;
  color: $orange;
}
.worker__achievements {
  @include text;
  font-size: 14px;
  opacity: 0.5;
}
.worker__addition {
  @include text;
  margin: 1em 0;
  font-size: 14px;

  li {
    position: relative;
    padding-left: 15px;

    &::before {
      position: absolute;
      content: '•';
      left: 0;
      color: $orange;
    }
  }
}
.worker__socials {
  display: flex;

  li {
    max-width: 30px;
  }
  li:not(:last-of-type) {
    margin-right: 15px;
  }
}

@media (max-width: 1600px) {
  .worker__photo {
    max-height: calc(360px - 90px);
    height: 100%;
    object-fit: cover;
  }
}
@media (max-width: 1280px) {
  .worker__photo {
    max-height: calc(300px - 90px);
    height: 100%;
    object-fit: cover;
  }
}
@media (max-width: 767px) {
  .worker {
    margin: 0 2px;
  }
}
@media (max-width: 500px) {
  .worker {
    flex-direction: column;
    padding: 0 15px 25px 15px;
  }
  .worker__photo {
    max-width: 100%;
    height: 100%;
    max-height: 250px;
    margin-bottom: 15px;
    object-fit: scale-down;
    object-position: top center;
    background: linear-gradient(to top, $gray 10%, transparent 10%) right bottom
      100%/50% no-repeat;
  }
  .worker__name {
    margin-bottom: 0;
    font-size: 16px;
    line-height: 120%;
  }
  .worker__post {
    font-size: 12px;
    line-height: 100%;
  }
  .worker__achievements {
    margin: 15px 0;
  }
}
