.worker {
  display: flex;
  height: 100%;
  padding: 45px;
  margin: 0 12px;

  padding-left: 0;
  background-color: #2a2e30;

  & > div:last-of-type {
    width: 100%;
    height: 100%;
  }
}
.worker__photo {
  position: relative;
  flex-shrink: 0;
  width: 60%;
  max-height: 390px;
  height: 100%;
  object-fit: cover;
  object-position: top;
  overflow: hidden;

  &::after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20%;
    background-image: linear-gradient(to top, $gray 20%, transparent 50%);
  }
}
.worker__name {
  display: block;
  margin-bottom: 5px;
  font-family: $formular-m;
  font-size: 22px;
  line-height: 24px;
  color: #f2f2f2;
}
.worker__post {
  font-family: $formular-r;
  font-size: 16px;
  line-height: 17px;
  color: $orange;
}
.worker__achievements {
  @include text;
  font-size: 16px;
  opacity: 0.5;
}
.worker__addition {
  @include text;
  margin: 1em 0;
  font-size: 16px;

  li {
    position: relative;
    padding-left: 15px;

    &::before {
      position: absolute;
      content: '•';
      left: 0;
      color: $orange;
    }
  }
}
.worker__socials {
  display: flex;

  li {
    max-width: 30px;
  }
  li:not(:last-of-type) {
    margin-right: 15px;
  }
}

@media (max-width: 1600px) {
  .worker__photo {
    max-height: 340px;
    object-fit: cover;
  }
}
@media (max-width: 1440px) {
  .worker__name {
    font-size: 20px;
  }
  .worker__post,
  .worker__achievements,
  .worker__addition {
    font-size: 15px !important;
  }
  .worker__photo {
    max-height: 320px;
  }
}
@media (max-width: 1280px) {
  .worker__photo {
    max-height: 340px;
    width: 50%;
    height: 100%;
    object-fit: cover;
  }
}
@media (max-width: 1024px) {
  .worker__photo {
    max-height: 300px;
  }
}
@media (max-width: 900px) {
  .worker__name {
    font-size: 18px;
  }
  .worker__post,
  .worker__achievements,
  .worker__addition {
    font-size: 14px !important;
  }
  .worker__photo {
    width: 60%;
    max-height: calc(300px - 30px);
  }
}
@media (max-width: 767px) {
  .worker {
    margin: 0 2px;
  }
  .worker__photo {
    max-height: calc(300px - 15px);
  }
}
@media (max-width: 600px) {
  .worker {
    flex-direction: column;
    padding: 0 15px 50px 15px;
  }
  .worker__photo {
    max-width: 100%;
    width: 120%;
    height: 100%;
    max-height: 300px;
    align-self: center;
    margin-bottom: 15px;
    object-position: top center;
  }
  .worker__name {
    margin-bottom: 0;
    font-size: 16px;
    line-height: 120%;
  }
  .worker__post {
    font-size: 12px !important;
    line-height: 100%;
  }
  .worker__achievements {
    margin: 15px 0;
    font-size: 12px !important;
  }
  .worker__addition {
    font-size: 12px !important;
  }
}
