@import './RecordForm/RecordForm.scss';

.record {
  background-image: url('../../assets/img/dust.png');
  background-size: 60%;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.record .wrapper > div {
  display: flex;
  justify-content: space-between;
}
.record .title {
  span:nth-of-type(2) {
    margin-left: 20%;
  }
  span:nth-of-type(3) {
    margin-left: 10%;
  }
}
